---
layout: section.njk
section: quotes
heading: Quotes
permalink: /quotes/
intro: >
  I often find myself texting quotes to friends. A collection of lines that
  stir my soul, impress something on my character. Language that fuels
  dreams, day and night.
submitLabel: "Got a quote to share?"
submitHref: "mailto:oliver.ye@applied.co?subject=Quote%20submission&body=Quote%3A%0A%0A%0ASource%20(book%2Fspeech%2Fcourt%20case)%3A%0A%0A%0AWhy%20it%20stuck%20(optional)%3A%0A"
eleventyExcludeFromCollections: true
---
