---
layout: section.njk
section: writing
heading: Writing & Recipes
permalink: /writing/
intro: >
  I reflect often when I cook. I write often to ground those reflections.
  Sometimes, it’ll be short memos in my notes app. Other times, journal
  entries or personal essays as the night winds down. There’s something about
  putting words on paper that tempers my thoughts. And re-reading old pieces
  of writing reminds me of how I’ve changed.
eleventyExcludeFromCollections: true
---
