---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.title }}</title>
  <link href="{{ site.url }}/feed.xml" rel="self"/>
  <link href="{{ site.url }}/"/>
  <id>{{ site.url }}/</id>
  <updated>{{ "now" | rfc3339 }}</updated>
  {%- for post in collections.everything %}
  <entry>
    <title>{{ post.data.title }}</title>
    <link href="{{ site.url }}{{ post.url }}"/>
    <id>{{ site.url }}{{ post.url }}</id>
    <updated>{{ post.date | rfc3339 }}</updated>
    {%- if post.data.blurb %}
    <summary>{{ post.data.blurb }}</summary>
    {%- endif %}
  </entry>
  {%- endfor %}
</feed>
